.money-transfers {

  height: 500px;

  .node {

    rect, polygon {
      fill-opacity: 1;
      fill:@brand-secondary;
      stroke-width: 1px;
      stroke:@brand-secondary;
    }

    text {
      font:@font-family-base;
    }

    &_label {
      fill:@text-color;
    }

    &_value {
      fill:white;
      text-shadow:0 0 1px darken(@brand-secondary, 30%);
      font-weight: bold;
    }
  }

  .link {
    fill: none;
    stroke: #024;
    stroke-opacity: .2;
  }

  .link:hover {
    stroke-opacity: .5;
  }
}
