.money-transfers {

  height: 500px;

  text {
    font:@font-family-base;
  }

  .node {

    rect, polygon {
      fill-opacity: 1;
      fill:@brand-secondary;
      stroke-width: 1px;
      stroke:@brand-secondary;
    }

    &_label {
      fill:@text-color;
    }

    &_value {
      fill:white;
      text-shadow:0 0 1px darken(@brand-secondary, 30%);
      font-weight: bold;
    }
  }

  .link {

    &_value {
      font-weight:bold;
      fill:white;
      fill-opacity:0;
      text-shadow:0 0 1px darken(#024, 30%), 0 0 2px darken(#024, 30%);
    }

    &_path {
      fill: none;
      stroke: #024;
      stroke-opacity: .2;
    }

    &:hover {
      .link_path {
        stroke-opacity: .7;
      }
      .link_value {
        fill-opacity: 1;
      }
    }
  }

}
