footer.footer
  .container
    ul.list-inline
      li
        a(href="https://github.com/jplusplus/football-tax", target="_blank")
         | View on Github
      li 
        a(href="http://www.jplusplus.org/", target="_blank")
          | By Journalism++
