.navbar.navbar-default.navbar-fixed-top(ng-controller='NavbarCtrl')
  .container
    .navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only {{ 'TOGGLE_NAV' | translate }}
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='main') {{ 'APP_TITLE' | translate }}

    #navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ui-sref-active="active")
          a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
        li(ui-sref-active="active")
          a(ui-sref='methodology') {{ 'NAV_METHODOLOGY_LABEL' | translate }}
        li(ui-sref-active="active")
          a(ui-sref='contribute') {{ 'NAV_CONTRIBUTE_LABEL' | translate }}
          
      ul.nav.navbar-nav.navbar-right  
        li(ui-sref-active="active")
          a(ui-sref='about') {{ 'NAV_ABOUT_LABEL' | translate }}    
        li.dropdown
          a.dropdown-toggle 
            | {{ 'NAV_LANGUAGE_LABEL' | translate }}
            span.caret
          ul.dropdown-menu
            li
              a(ng-click="use('en')") English
            li
              a(ng-click="use('fr')") Français
          
