div(ng-include='"components/navbar/navbar.html"')

ui-view.main
  .main__homepage(screen-height)
    .main__homepage__panel
      .row              
        .col-sm-6
          h1
            img(src="assets/images/logo-big.png", height="100" , alt="{{ 'APP_TITLE' | translate }}")
          .h2 {{ 'HOMEPAGE_DESCRIPTION' | translate }}
          
        .col-sm-6        
          .panel
            .panel-body
              h3 {{ 'HOMEPAGE_ADDR_TITLE' | translate }}
              p {{ 'HOMEPAGE_ADDR_DESCRIPTION' | translate }}
              form(ng-submit="addrLookup(q)")
                div.input-group
                  input.form-control(type="text", required="required", ng-model="q", placeholder="Ex: 12 promenade des anglais Nice")
                  span.input-group-btn
                    button.btn.btn-default(type="submit") {{ 'SEARCH_BTN' | translate }}
                    
          .panel
            .panel-body
              h3 {{ 'HOMEPAGE_CLUBS_TITLE' | translate }}
              p {{ 'HOMEPAGE_CLUBS_DESCRIPTION' | translate }}
              p.main__homepage__panel__clubsearch
                ui-select(ng-model="selectedClub", on-select="selectClub($item.slug)")
                  ui-select-match(placeholder="{{ 'CLUB_SEARCH_PLACEHOLDER' | translate }}") {{ $select.selected.nameclub }}
                  ui-select-choices(repeat="club in clubs", 
                                    refresh="clubLookup($select.search)",
                                    refresh-delay="0")
                    strong {{ club.nameclub }}
                    br
                    span {{ club.city }}
              ul.list-unstyled.main__homepage__panel__clubs
                li.main__homepage__panel__clubs__item
                  a(ui-sref="main.clubs({slug: 'fra-assaintetienne'})")
                    img(src="assets/images/fra-assaintetienne.png")          
                li.main__homepage__panel__clubs__item
                  a(ui-sref="main.clubs({slug: 'bel-standardliege'})")
                    img(src="assets/images/bel-standardliege.png")          
                li.main__homepage__panel__clubs__item
                  a(ui-sref="main.clubs({slug: 'fra-montpellierhsc'})")
                    img(src="assets/images/fra-montpellierhsc.png")          
                li.main__homepage__panel__clubs__item
                  a(ui-sref="main.clubs({slug: 'fra-ogcnice'})")
                    img(src="assets/images/fra-ogcnice.png")          
                li.main__homepage__panel__clubs__item
                  a(ui-sref="main.clubs({slug: 'fra-olympiquelyonnais'})")
                    img(src="assets/images/fra-olympiquelyonnais.png")          
                li.main__homepage__panel__clubs__item
                  a(ui-sref="main.clubs({slug: 'fra-rcstrasbourg'})")
                    img(src="assets/images/fra-rcstrasbourg.png")
          
  .main__findings
    .container
      h2 {{ 'HOMEPAGE_FINDINGS_TITLE' | translate }}
      p.lead(ng-bind-html="'HOMEPAGE_FINDINGS_CONTENT' | translate")


div(ng-include='"components/footer/footer.html"')
