.main {

  &__homepage {
    background:@brand-primary url("../assets/images/main-soccer.jpg") center center;
    background-size: cover;
    padding-top:100px;
    border-bottom:10px solid white;

    &__panel {
      .container();
      color:white;
      padding:50px;

      h1 {
        color:@brand-secondary;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  &__about {
    padding:100px 0;
  }

}
