div(ng-include='"components/navbar/navbar.html"')

.main(ui-view)
  .main__homepage(screen-height)
    .main__homepage__panel
      .row              
        .col-sm-6
          h1 {{ 'APP_TITLE' | translate }}
          .lead  {{ 'HOMEPAGE_DESCRIPTION' | translate }}
          
        .col-sm-6        
          .panel
            .panel-body
              h3 {{ 'HOMEPAGE_ADDR_TITLE' | translate }}
              p {{ 'HOMEPAGE_ADDR_DESCRIPTION' | translate }}
              form(ng-submit)
                div.input-group
                  input.form-control(type="text", placeholder="Ex: 12 promenade des anglais Nice")
                  span.input-group-btn
                    button.btn.btn-default(type="button") Validate
                    
          .panel
            .panel-body
              h3 {{ 'HOMEPAGE_CLUBS_TITLE' | translate }}
              p {{ 'HOMEPAGE_CLUBS_DESCRIPTION' | translate }}
              p.main__homepage__panel__clubsearch
                ui-select(ng-model="selectedClub")
                  ui-select-match(placeholder="{{ 'CLUB_SEARCH_PLACEHOLDER' | translate }}") 
                    | {{ $select.selected.nameclub || ('CLUB_SEARCH_PLACEHOLDER' | translate) }}
                  ui-select-choices(repeat="club in clubs", 
                                    refresh="clubLookup($select.search)",
                                    refresh-delay="0")
                    | {{ club.nameclub }}
              ul.list-inline
                li
                  img.img-circle.img-thumbnail(src="//placehold.it/50x50/FFDF54/000")          
                li
                  img.img-circle.img-thumbnail(src="//placehold.it/50x50/FFDF54/000")          
                li
                  img.img-circle.img-thumbnail(src="//placehold.it/50x50/FFDF54/000")          
                li
                  img.img-circle.img-thumbnail(src="//placehold.it/50x50/FFDF54/000")          
                li
                  img.img-circle.img-thumbnail(src="//placehold.it/50x50/FFDF54/000")          
                li
                  img.img-circle.img-thumbnail(src="//placehold.it/50x50/FFDF54/000")
          
  .main__findings
    .container
      h2 {{ 'HOMEPAGE_FINDINGS_TITLE' | translate }}
      p.lead  {{ 'HOMEPAGE_FINDINGS_CONTENT' | translate }}

div(ng-include='"components/footer/footer.html"')
