.main__clubs
  .main__header
    .container
      h1 {{ club.nameclub }}      
      .row
        .col-sm-4.col-sm-push-8
          form.main__header__search  
            ui-select(ng-model="selectedClub", on-select="selectClub($item.slug)")
              ui-select-match(placeholder="{{ 'CLUB_SEARCH_PLACEHOLDER' | translate }}") {{ $select.selected.nameclub }}
              ui-select-choices(repeat="club in clubs", 
                                refresh="clubLookup($select.search)",
                                refresh-delay="0")
                strong {{ club.nameclub }}
                br
                span {{ club.city }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_CLUBS_LABEL' | translate }}
            li
              | {{ club.nameclub }}
      
  .main__clubs__content.main__content
    .container
      .lead(ng-if="page", ng-bind-html="page.body")        
      div(money-transfers="club.transfers")      
      div(ng-repeat="(name, transfers) in payers")
        h2 {{ name }}
        p {{ 'ABOUT_CONTENT' | translate }}
        div(transfers-by-year="transfers", years="years", subgroup="'beneficiary'")   
