.main__clubs
  .main__header
    .container
      h1 {{ club.nameclub }}      
      .row
        .col-sm-4.col-sm-push-8
          form.main__header__search  
            ui-select(ng-model="selectedClub", on-select="selectClub($item.slug)")
              ui-select-match(placeholder="{{ 'CLUB_SEARCH_PLACEHOLDER' | translate }}") {{ $select.selected.nameclub }}
              ui-select-choices(repeat="club in clubs", 
                                refresh="clubLookup($select.search)",
                                refresh-delay="0")
                strong {{ club.nameclub }}
                br
                span {{ club.city }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_CLUBS_LABEL' | translate }}
            li
              | {{ club.nameclub }}
      
  .main__clubs__content.main__content
    .container
      h2(ng-if="page && page.body") {{ 'CLUB_KEY_POINT' | translate }}
      .lead(ng-if="page && page.body", ng-bind-html="page.body")        
      div(money-transfers="club.transfers")   
      
      .main__clubs__content__stadium(ng-repeat="stadium in :: club.stadiums | limitTo:1")
        .main__clubs__content__stadium__actions
          a.btn.btn-primary(ui-sref="main.stadiums(stadium)")
            i.fa.fa-bar-chart
            span &nbsp;
            | {{ 'SEE_SUBSIDIES_STADIUM' | translate:{ stadium:stadium.name } }}
        h2.main__clubs__content__stadium__title
          | {{ 'CLUB_STADIUM_TITLE' | translate }}
        p.main__clubs__content__stadium__description
          span(ng-bind-html="'CLUB_STADIUM_DESCRIPTION' | translate:{club: club.nameclub, stadium: stadium.name}")
      
        
      .chart-block(ng-repeat="payer in :: payers | orderBy:'level'")
        h2.chart-block__title
          a(ui-sref="main.territories.details({ slug: (club.country | slug:payer.name)  })", 
            ng-bind-html="'SPENDING_FROM_TERRITORY' | translate:{ territory: payer.name }")
        .chart-block__chart(transfers-by-year="payer.transfers", years="years", subgroup="'beneficiary'") 
        .chart-block__headline
          a.chart-block__headline__action.btn.btn-primary.btn-xs(ui-sref="main.territories.details({ slug: (club.country | slug:payer.name)  })")
            i.fa.fa-bar-chart
            span {{ 'SEE_SUBSIDIES_TERRITORY' | translate:{ payer:payer.name } }}
          h3.chart-block__headline__title {{ payer.name }}
          .chart-block__headline__content
            span(ng-bind-html="'SPENDING_TERR_FOR_CLUB' | translate:territoryFigures(payer.name, payer.transfers)")
            span(ng-repeat="year in ::missingYears(payer.transfers)") {{ year }} -

            p(ng-bind-html="'SPENDING_TERR_FOR_CLUB_OUTRO' | translate")
