.main__clubs
  .main__header
    .container
      h1 {{ club.nameclub }}
      ul.main__header__breadcrum.list-inline
        li
          a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
        li
          a(ui-sref='main') {{ 'NAV_CLUBS_LABEL' | translate }}
        li
          | {{ club.nameclub }}
  
