.main__clubs
  .main__header
    .container
      h1 {{ club.nameclub }}      
      .row
        .col-sm-4.col-sm-push-8
          form.main__header__search  
            ui-select(ng-model="selectedClub", on-select="selectClub($item.slug)")
              ui-select-match(placeholder="{{ 'CLUB_SEARCH_PLACEHOLDER' | translate }}") {{ $select.selected.nameclub }}
              ui-select-choices(repeat="club in clubs", 
                                refresh="clubLookup($select.search)",
                                refresh-delay="0")
                strong {{ club.nameclub }}
                br
                span {{ club.city }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_CLUBS_LABEL' | translate }}
            li
              | {{ club.nameclub }}
      
  .main__clubs__content.main__content
    .container
      h2(ng-if="page && page.body") {{ 'CLUB_KEY_POINT' | translate }}
      .lead(ng-if="page && page.body", ng-bind-html="page.body")   
      
      h2 {{ 'MOENY_TRANSFERS_TITLE' | translate }}
      p.lead  {{ 'MOENY_TRANSFERS_DESCRIPTION' | translate }}
      
      div(money-transfers="club.transfers")   
      
      div(ng-repeat="stadium in :: club.stadiums | limitTo:1")
        h2 {{ 'CLUB_STADIUM_TITLE' | translate }}
        p.lead(ng-bind-html="'CLUB_STADIUM_DESCRIPTION' | translate:{club: club.nameclub, stadium: stadium.name}")
        .text-right
          a.btn.btn-primary(ui-sref="main.stadiums(stadium)")
            i.fa.fa-bar-chart
            span &nbsp;
            | {{ 'SEE_SUBSIDIES_STADIUM' | translate:{ stadium:stadium.name } }}
      
            
      h2 {{ 'CLUB_PAYERS_TITLE' | translate }}
      p.lead {{ 'CLUB_PAYERS_DESCRIPTION' | translate }}
      
      uib-tabset.main__clubs__content__payers
        uib-tab(ng-repeat="payer in :: payers | orderBy:'level'", heading="{{ payer.name  | characters:25 }}", active="payer.active")              
          .main__clubs__content__payers__pane
            .row
              .col-xs-4.col-xs-push-8
                .main__clubs__content__payers__pane__description              
                  p
                    span(ng-bind-html="'SPENDING_TERR_FOR_CLUB' | translate:territoryFigures(payer.name, payer.transfers)")
                    | &nbsp;{{ :: missingYears(payer.transfers).splice(0,5).join(', ') }}
                    span(ng-show=":: missingYears(payer.transfers).length > 5") , [...]
                    | .
                  p(ng-bind-html="'SPENDING_TERR_FOR_CLUB_OUTRO' | translate")
              
                  a.btn.btn-primary(ui-sref="main.territories.details({ slug: (club.country | slug:payer.name)  })")
                    i.fa.fa-bar-chart
                    =" "
                    span {{ 'SEE_SUBSIDIES_TERRITORY' | translate:{ payer:payer.name } }}
                      
              .col-xs-8.col-xs-pull-4
                .main__clubs__content__payers__pane__chart
                  .chart-block
                    h3.chart-block__title
                      a(ui-sref="main.territories.details({ slug: (club.country | slug:payer.name)  })", 
                        ng-bind-html="'SPENDING_FROM_TERRITORY' | translate:{ territory: payer.name }")
                    .chart-block__chart(transfers-by-year="payer.transfers", years="years", subgroup="'beneficiary'", ng-if="payer.active") 
          
