.main__clubs {

  padding-bottom:30px;

  &__header {
    background:@brand-primary;
    color: contrast(@brand-primary);
    min-height: 200px;
    padding-top:@navbar-height*2px;
    margin-bottom:30px;

    h1 {
      font-weight: bold;
    }

  }

  &__content {

    &__payers {
      margin-top:20px;

      .nav {
        font-size:14px;
      }

      &__pane {
        background:#eee;
        border:1px solid @brand-primary;
        border-top:0;

        &__description, &__chart {
          padding:20px;
        }
      }
    }

  }

}
