.main__clubs {

  padding-bottom:30px;

  &__header {
    background:@brand-primary;
    color: contrast(@brand-primary);
    min-height: 200px;
    padding-top:@navbar-height*2px;
    margin-bottom:30px;

    h1 {
      font-weight: bold;
    }

  }

  &__content {

    &__stadium {
      background: #086FA1;
      color: contrast(#086FA1);

      &__actions {
        float:right;
        padding:20px;
      }

      &__title, &__description {
        padding:20px;
      }

      &__title {
        padding-bottom:0;
      }

      &__description {
        padding-top:10px;
        .lead();
      }
    }
  }

}
