.main__clubs
  .main__header
    .container
      h1 {{ club.nameclub }}      
      .row
        .col-sm-4.col-sm-push-8
          form.main__header__search  
            ui-select(ng-model="selectedClub", on-select="selectClub($item.slug)")
              ui-select-match(placeholder="{{ 'CLUB_SEARCH_PLACEHOLDER' | translate }}") {{ $select.selected.nameclub }}
              ui-select-choices(repeat="club in clubs", 
                                refresh="clubLookup($select.search)",
                                refresh-delay="0")
                strong {{ club.nameclub }}
                br
                span {{ club.city }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_CLUBS_LABEL' | translate }}
            li
              | {{ club.nameclub }}
      
  .main__clubs__content.main__content
    .container
      .lead(ng-if="page", ng-bind-html="page.body")        
      div(money-transfers="club.transfers")   
        
      .chart-block(ng-repeat="(name, transfers) in payers")
        h2.chart-block__title(ng-bind-html="'SPENDING_FROM_TERRITORY' | translate:{ territory: name }")
        .chart-block__chart(transfers-by-year="transfers", years="years", subgroup="'beneficiary'") 
        .chart-block__headline
          a.chart-block__headline__action.btn.btn-primary.btn-xs(ui-sref="main.territories.details({ slug: (club.country | slug:name)  })")
            i.fa.fa-bar-chart
            span &nbsp;
            | {{ 'SEE_MONEY_TRANSFERS' | translate }}
          h3.chart-block__headline__title {{ name }}
          p.chart-block__headline__content {{ 'ABOUT_CONTENT' | translate }}
