.main__stadiums
  .main__header
    .container
      h1 {{ stadium.name }}      
      .row
        .col-sm-4.col-sm-push-8        
          form.main__header__search  
            ui-select(ng-model="selectedStadium", on-select="selectStadium($item.slug)")
              ui-select-match(placeholder="{{ 'STADIUM_SEARCH_PLACEHOLDER' | translate }}") {{ $select.selected.name }}
              ui-select-choices(repeat="stadium in stadiums", 
                                refresh="stadiumLookup($select.search)",
                                refresh-delay="0")
                strong {{ stadium.name }}
                br
                span {{ stadium.city }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_STADIUMS_LABEL' | translate }}
            li
              | {{ stadium.name }}
      
              
  .main__clubs__content.main__content
    .container
      .lead
        p {{ 'ABOUT_CONTENT' | translate }}
      div(transfers-by-year="stadium.transfers", years="years", stacked="false")  
      h2 {{ 'YEAR_MOST_SPENT' | translate:{year: 2010} }}
      p {{ 'ABOUT_CONTENT' | translate }}
      div(transfers-by-category="stadium.transfers", category="'payer'")  
