.main__stadiums
  .main__header
    .container
      h1 {{ stadium.name }}      
      .row
        .col-sm-4.col-sm-push-8        
          form.main__header__search  
            ui-select(ng-model="selectedStadium", on-select="selectStadium($item.slug)")
              ui-select-match(placeholder="{{ 'STADIUM_SEARCH_PLACEHOLDER' | translate }}") {{ $select.selected.name }}
              ui-select-choices(repeat="stadium in stadiums", 
                                refresh="stadiumLookup($select.search)",
                                refresh-delay="0")
                strong {{ stadium.name }}
                br
                span {{ stadium.city }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_STADIUMS_LABEL' | translate }}
            li
              | {{ stadium.name }}
      
              
  .main__clubs__content.main__content
    .container
      .lead
        p {{ 'ABOUT_CONTENT' | translate }}
      div(transfers-by-year="stadium.transfers", years="years")  
      
      div
        h2 {{ 'YEAR_MOST_SPENDING' | translate:{year: yearMostSpeding.name} }}
        p {{ 'ABOUT_CONTENT' | translate }}
        div(transfers-by-category="yearMostSpeding.transfers", category="'payer'")  
        
      div
        a.pull-right.btn.btn-primary(ui-sref="main.territories.details({ slug: (stadium.country | slug:territoryMostSpending.name) })")
          | {{ 'SEE_MONEY_TRANSFERS_FOR_TERRITORY' | translate }}
        h2 {{ 'TERRITORY_MOST_SPENDING' | translate:{territory: territoryMostSpending.name} }}
        p {{ 'ABOUT_CONTENT' | translate }}
