.main__stadiums
  .main__header
    .container
      h1 {{ stadium.name }}      
      .row
        .col-sm-4.col-sm-push-8        
          form.main__header__search  
            ui-select(ng-model="selectedStadium", on-select="selectStadium($item.slug)")
              ui-select-match(placeholder="{{ 'STADIUM_SEARCH_PLACEHOLDER' | translate }}") {{ $select.selected.name }}
              ui-select-choices(repeat="stadium in stadiums", 
                                refresh="stadiumLookup($select.search)",
                                refresh-delay="0")
                strong {{ stadium.name }}
                br
                span {{ stadium.city }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_STADIUMS_LABEL' | translate }}
            li
              | {{ stadium.name }}
      
              
  .main__stadiums__content.main__content
    .container
      h2(ng-if="page && page.body") {{ 'STADIUM_KEY_POINT' | translate }}
      .lead(ng-if="page && page.body", ng-bind-html="page.body")      
        
      .main__stadiums__content__club(ng-show="stadium.club")
        .main__stadiums__content__club__actions
          a.btn.btn-primary(ui-sref="main.clubs(stadium.club)")
            i.fa.fa-bar-chart
            span &nbsp;
            | {{ 'SEE_MONEY_TRANSFERS' | translate }}
        h2.main__stadiums__content__club__title
          |  {{ 'STADIUM_CLUB_TITLE' | translate }}
        p.main__stadiums__content__club__description
          span(ng-bind-html="'STADIUM_CLUB_DESCRIPTION' | translate:{club: stadium.club.nameclub, stadium: stadium.name}")
      
      .chart-block
        h2.chart-block__title {{ 'SPENDING_FOR_STADIUM_EACH_YEAR' | translate }}
        .chart-block__chart(transfers-by-year="stadium.transfers", years="years") 
        .chart-block__headline 
          h3.chart-block__headline__title {{ 'YEAR_MOST_SPENDING' | translate:{year: yearMostSpeding.name} }}
          p.chart-block__headline__content {{ 'ABOUT_CONTENT' | translate }}
        
      .chart-block
        h2.chart-block__title {{ 'SPENDING_BY_TERRITORY_FOR_STADIUM' | translate }}
        .chart-block__chart(transfers-by-category="yearMostSpeding.transfers", category="'payer'")  
        .chart-block__headline
          a.chart-block__headline__action.btn.btn-primary.btn-xs(ui-sref="main.territories.details({ slug: (stadium.country | slug:territoryMostSpending.name) })")
            i.fa.fa-bar-chart
            span &nbsp;
            | {{ 'SEE_MONEY_TRANSFERS_FOR_TERRITORY' | translate }}
          h3.chart-block__headline__title {{ 'TERRITORY_MOST_SPENDING' | translate:{territory: territoryMostSpending.name} }}
          p.chart-block__headline__content {{ 'ABOUT_CONTENT' | translate }}
