.main__territories__details
  .main__header.main__territories__details__header
    .container
      h1 {{ territory.name }}      
      .row
        .col-sm-4.col-sm-push-8
          form.main__header__search(ng-submit="addrLookup(query)")
            div.input-group
              input.form-control(type="text", ng-model="query", placeholder="Chercher une autre adresse")
              span.input-group-btn
                button.btn.btn-default(type="submit") {{ 'SEARCH_BTN' | translate }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_TERRITORIES_LABEL' | translate }}
            li
              | {{ territory.name }}
      
              
  .main__territories__details__content.main__content
    .container
      .lead
        p {{ 'ABOUT_CONTENT' | translate }}
      div(transfers-by-year="transfers", years="years")  
      h2 {{ 'YEAR_MOST_SPENDING' | translate:{year: yearMostSpeding.date} }}
      p {{ 'ABOUT_CONTENT' | translate }}
      div(transfers-by-category="yearMostSpeding.transfers", category="'beneficiary'")  
