.main__territories__details
  .main__header.main__territories__details__header
    .container
      h1 {{ territory.name }}      
      .row
        .col-sm-4.col-sm-push-8
          form.main__header__search(ng-submit="addrLookup(query)")
            div.input-group
              input.form-control(type="text", ng-model="query", placeholder="Chercher une autre adresse")
              span.input-group-btn
                button.btn.btn-default(type="submit") {{ 'SEARCH_BTN' | translate }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_TERRITORIES_LABEL' | translate }}
            li
              | {{ territory.name }}
      
              
  .main__territories__details__content.main__content
    .container
      .lead
        p(ng-bind-html="'INTRO_TERRITORY' | translate:{ total_amount: '€51M', territory: territory.name}")
      
      .chart-block
        h2.chart-block__title {{ 'SPENDINGS_BY_YEAR'| translate:{ year: '€14M' } }}
        .chart-block__chart(transfers-by-year="transfers", years="years")  
        .chart-block__headline
          h3.chart-block__headline__title {{ 'YEAR_MOST_SPENDING' | translate:{ year: yearMostSpending.name } }}
          
          .chart-block__headline__content
            p {{ 'YEAR_MOST_SPENDING_INTRO' | translate:{ year: yearMostSpending.name, territory:territory.name } }}
            p(ng-bind-html=" 'YEAR_MOST_SPENDING_LIST_ITEM' | translate:{ amount: '€14M', beneficiary: 'Nice ECO Stadium'}")
            p(ng-bind-html="'YEAR_MOST_SPENDING_OUTRO'| translate:{ total_amount_year: '€15.7M', territory: territory.name }")
          
      .chart-block
        h2.chart-block__title {{ 'SPENDINGS_BY_BENEFICIARY' | translate }}        
        .chart-block__chart(transfers-by-category="transfers", category="'beneficiary'")  
        .chart-block__headline
          a.chart-block__headline__action.btn.btn-primary.btn-xs(ui-sref="main.clubs({ slug: beneficiaryMostSpending.club.slug })")
            .fa.fa-bar-chart
            span &nbsp;
            | {{ 'SEE_MONEY_TRANSFERS_FOR_CLUB' | translate }}
          h3.chart-block__headline__title(ng-bind-html="'LARGEST_BENEFICIARY' | translate: { beneficiary: beneficiaryMostSpending.name, club:beneficiaryMostSpending.club.nameclub,territory: territory.name }")
          .chart-block__headline__content
            p(ng-bind-html=" 'LARGEST_BENEFICIARY_DESC' | translate: { beneficiary: beneficiaryMostSpending.name, club:beneficiaryMostSpending.club.nameclub,territory: territory.name,amount_largest_beneficiary: '€34M' }")

