.main__territories__details
  .main__header.main__territories__details__header
    .container
      h1 {{ territory.name }}      
      .row
        .col-sm-4.col-sm-push-8
          form.main__header__search(ng-submit="addrLookup(query)")
            div.input-group
              input.form-control(type="text", ng-model="query", placeholder="Chercher une autre adresse")
              span.input-group-btn
                button.btn.btn-default(type="submit") {{ 'SEARCH_BTN' | translate }}
        .col-sm-8.col-sm-pull-4
          ul.main__header__breadcrum.list-inline
            li
              a(ui-sref='main') {{ 'NAV_RESULT_LABEL' | translate }}
            li
              a(ui-sref='main') {{ 'NAV_TERRITORIES_LABEL' | translate }}
            li
              | {{ territory.name }}
      
              
  .main__territories__details__content.main__content
    .container
      .lead
        p {{ 'ABOUT_CONTENT' | translate }}
      
      .chart-block
        h2.chart-block__title {{ 'Amount paid by accross the years' }}
        .chart-block__chart(transfers-by-year="transfers", years="years")  
        .chart-block__headline
          h3.chart-block__headline__title {{ 'YEAR_MOST_SPENDING' | translate:{ year: yearMostSpending.name } }}
          p.chart-block__headline__content {{ 'ABOUT_CONTENT' | translate }}
          
      .chart-block
        h2.chart-block__title {{ 'SPENDINGS_BY_BENEFICIARY' | translate }}        
        .chart-block__chart(transfers-by-category="transfers", category="'beneficiary'")  
        .chart-block__headline
          a.chart-block__headline__action.btn.btn-primary.btn-xs(ui-sref="main.clubs({ slug: beneficiaryMostSpending.club.slug })")
            .fa.fa-bar-chart
            span &nbsp;
            | {{ 'SEE_MONEY_TRANSFERS_FOR_CLUB' | translate }}
          h3.chart-block__headline__title(ng-bind-html="'BENEFICIARY_MOST_SPENDING' | translate: { beneficiary: beneficiaryMostSpending.name, club:beneficiaryMostSpending.club.nameclub }")
          p.chart-block__headline__content {{ 'ABOUT_CONTENT' | translate }}
